// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #162B37;
  color: #EBEDED;
}

h1 {
  color: #D6882D;
}

h2 {
  color: #D6882D;
}

.top-bar {
  color: #D6882D;
  background-color: #253842;
}

.test {
  background-color: white;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #253842;
  color: #EBEDED;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #D6882D;
}

.top-bar .name h1 a {
  color: #D6882D;
}

.container {
  width: 500px;
  margin: 15px auto;

  a {
    color: #EBEDED;
  }
}

.photoList {

  .thumbnail {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 10px;
        border: 2px solid #D6882D;

        img {
          height: 200px;
        }
      }
    }
  }

  button {
    background-color: #D6882D;
    
    a {
      color: #EBEDED;
    }
  }

  button:hover {
    background-color: #253842;
    a {
      color: #D6882D;
    }
  }
  

}

.singlePhoto {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.addPhoto {
  button {
    background-color: #D6882D;
    color: #EBEDED;
  }

  button:hover {
    background-color: #253842;
    color: #D6882D;
  }
}




