// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: #162B37;
  color: #EBEDED;
}

button {
  background-color: #253842;
  color: #D6882D;
  border: 2px solid #D6882D;
}

button:hover {
  background-color: #D6882D;
  color: #EBEDED;
  border: 2px solid #D6882D;
}

h4 {
  color: #D6882D;
}

h2 {
  color: #D6882D;
}

.mainContainer {
  position: relative;
    min-height: 100%;
}

.top-bar {
  color: #D6882D;
  background-color: #253842;

  img {
    max-height: 100%;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #253842;
  color: #EBEDED;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #D6882D;
}

.top-bar .name h1 a {
  color: #D6882D;
}

.container {
  max-height: 100%;
  overflow: hidden;
  margin: 15px 15px 0 15px;

  a {
    color: #EBEDED;
  }
}

.home {

  .bigLogo {
    max-width: 50%;
    margin: 0 auto;
  }

  .homeMenu {

    ul {
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        color: #E08D2E;
        font-size: 1.2em;
        margin: 0 2px;


        a {
          color: #C0C6C9;
        }

        a:hover {
          color: #E08D2E;
        }
      }
    }
  }
}

.aboutPage {

  div {
    width: 60%;
  }
}

.codingPage {

  div {
    width: 60%;
  }
}

.photoList {
  width: 100%;
  text-align: center;
  margin-bottom: 36px;

  .thumbnails {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 10px;

        img {
          height: 200px;
          border: 2px solid #162B37;
          max-height: 100%;
        }

        img:hover {
          border: 2px solid #D6882D;
        }
      }
    }
  }
}

.addPhoto {

  div {
    text-align:right;
    
    .addForm {
      width: 60%;

      textarea {
        height: 100px;
      }
    }
  }
}

.editPage {

  div {
    text-align:right;
    
    form {
      width: 60%;

      textarea {
        height: 100px;
      }
    }
  }
}

.singlePhoto {

  .largePhoto {
    height: 85vh;

    img {
      max-height: 100%;
    }

  }

  .photoText {

    ul {
      list-style: none;
      padding: 0;

      li {
        .photoTitle {

        }
        .photoDescription {
        }
      }
    }

    button {
      margin-top: 52.5vh;
    }
  }
}

footer {
  clear: both;
  width: 100%;
  height: 25px;
  background-color: #243842;
  color: #BFC5C8;
  position: absolute;
  bottom: 0;
  left: 0;

  p {
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 13px;
    transform: translateY(-50%);
    margin: 0;

    a {
      color: #D6882D;
    }

    a:hover {
      color: #D6882D;
    }
  }
}