<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="#/"><img src="/graphics/header.jpg"></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a class="test" href="#/">Home</a></li>
      <li><a class="test" href="#/about">About</a></li>
      <li><a class="test" href="#/coding">Coding</a></li>
      <li><a class="test" href="#/photography">Photography</a></li>
    </ul>
  </section>
</nav>
  
<section class="container" ui-view></section>

<section>  
  <div class="test"></div>
  <div class="other"></div>
</section>


<footer>
  <p>&copy; 2015 Charlie Miller - <a href="mailto:charlie@thecharlah.com">charlie@thecharlah.com</a></p>
</footer>